* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
  }

body{
  background: rgb(185, 181, 181);
}

.container {
  background:  rgb(185, 181, 181);
  align-items: center;
  text-align: center;
  justify-content: center;
  /* display: flex; */
  /* width: 100%; */
  /* height: 635px; */
  /* padding: 20px 0px 50px; */
  /* box-sizing: border-box; */
  /* flex: 1 1 0%; */

}

.table-dark {
  width: 100%;
  align-items: center;
  padding: 20px 0px 50px 400px;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  border-radius: 6px;
}


#hover:hover {
  width: 100%;

  background:rgb(41, 41, 46); 
}

#header {
  background: rgb(185, 181, 181);
  height: 100px;
}

.btn-secondary{
  margin-top: 30px;
  background: rgb(41, 41, 46);
  border: rgb(41, 41, 46);
}

#offers {
  display: none;
}

#requests {

  display: none;
}

#patients {
  display: none;
}
  