<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça seu cadastro <br>e entre para o nosso time</h1>
            <img src="{% static 'img/robo.svg' %}" class="left-login-imagem" alt="robo">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Cadastro</h1>
                <div class="textfield">
                     <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn-login" type="submit">Cadastrar</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>